<div class="container__sub-article">
  <div class="container__sub-article-content">
    <div class="sub-article__photo">
      <img
        src="https://th.bing.com/th/id/OIP.6XzsKzQpDEErREn0D3mTMQHaEK?w=269&h=180&c=7&r=0&o=5&pid=1.7"
        alt="photo placeholder"
        
      />
    </div>

    <div class="sub-article__title">
      <h1>
        <a href="#"><h1>Title example</h1></a>
      </h1>
    </div>
    <div>
      <hr />
    </div>
  </div>
  <div class class="container__sub-article-separator">
    <hr />
  </div>
</div>
